 <div class="bd-callout">
                        <h3>Офис</h3>
                        <p>Мышкинский проезд 15б<br />Ярославль.</p>
                        <h4><a href="tel:+79108230307">+7(910)823-03-07</a> <a href="mailto:yar_arenda@mail.ru">yar_arenda@mail.ru</a></h4>
                    </div>