        <!--================Footer Area =================-->
        <footer class="footr_area">
            <div class="footer_widget_area">
                <div class="container">
                    <div class="row footer_widget_inner">
                        <div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_about_widget">
                               <!-- <img src="img/footer-logo.png" alt=""> -->
                               <a class="navbar-brand" href="#">Getuse</a>
                                <p>Аренда оборудования, различной техники для съемки, прокат самокатов, игровых приставок, музыкальное оборудование.</p>
                            </aside>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_insta_widget">
                                <div class="f_title">
                                    <h3></h3>
                                </div>
                                <ul>
                                    <li><span><img src="/f-1.jpg" alt=""></span></li>
                                    <li><span><img src="/f-2.jpg" alt=""></span></li>
                                    <li><span><img src="/f-3.jpg" alt=""></span></li>
                                    <li><span><img src="/f-4.jpg" alt=""></span></li>
                                    <li><span><img src="/f-5.jpg" alt=""></span></li>
                                    <li><span><img src="/f-6.jpg" alt=""></span></li>
                                    <li><span><img src="/f-7.jpg" alt=""></span></li>
                                    <li><span><img src="/f-8.jpg" alt=""></span></li>
                                </ul>
                            </aside>
                        </div>
                        <!---
                        <div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_subs_widget">
                                <div class="f_title">
                                    <h3>Subscribe to newsletter</h3>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Your e-mail address here" aria-label="Your e-mail address here">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary submit_btn" type="button">Subscribe</button>
                                    </span>
                                </div>
                            </aside>
                        </div>
                      -->
                    </div>
                </div>
            </div>
            <div class="footer_copyright">
                <div class="container">
                    <div class="float-sm-left">
                        <h5><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> by {{title}}
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></h5>
                    </div>
                    <div class="float-sm-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        