<section id="orders" class="modal-message fade modal orderp" role="dialog">
  
            <!--================Get in Touch Area =================-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2 class="orderTit"></h2>  
                       <form class="contact_us_form row orderForm" action="/sendemail" method="post" id="" novalidate="novalidate">
                                <input type="hidden" name="isOrder" value="true">
                                <input type="hidden" name="product" id="product">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control name" id="" name="name" placeholder="Имя">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" class="form-control email" id="" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="tel" class="form-control number" id="" name="number" placeholder="Телефон">
                            </div>
                            <div class="form-group col-lg-6">
                                <select class="form-control" id="options" name="term">
                                    <option disabled> Выберите срок аренды</option>
                                </select>
                            </div>
                            <div class="form-group btngr">
                                <button type="submit" value="submit" class="btn submit_btn form-control">Заказать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!--================End Get in Touch Area =================-->
</section>

        <!--================Contact Success and Error message Area =================-->
        <div id="success" class="modal modal-message fade order" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Спасибо</h2>
                        <p>Ваш запрос успешно выполнен</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals error -->

        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Error</h2>
                        <p>Не удалось выполнить запрос</p>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Contact Success and Error message Area =================-->