        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Аксессуары</h2>
                    <p></p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Portfolio Area =================-->
        <section class="portfolio_area">
            <div class="container">
                <div class="portfolio_filter">
                    <ul>
                        <li class="active" data-filter="*"><a href="#">Все</a></li>
                        <li data-filter=".gopro"><a href="#">Gopro</a></li>
                        <li data-filter=".playstation"><a href="#">Playstation</a></li>
                        <li data-filter=".arc"><a href="#">Самокаты</a></li>
                        <li data-filter=".photo"><a href="#">Колонки</a></li>
                    </ul>
                </div>
            </div>
            <div class="ms_portfolio_inner">
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro1.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro2.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro3.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro4.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro ">
                    <img src="/accessories/gopro5.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro6.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro7.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro8.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro9.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 gopro">
                    <img src="/accessories/gopro10.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 playstation">
                    <img src="/accessories/ps1.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="/portfolio/ms-portfolio/ms-p-5.jpg" alt="">
                </div>
                <div class="ms_p_item wd_50">
                    <img src="/portfolio/ms-portfolio/ms-p-6.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/portfolio/ms-portfolio/ms-p-7.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/portfolio/ms-portfolio/ms-p-8.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/portfolio/ms-portfolio/ms-p-9.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="/portfolio/ms-portfolio/ms-p-10.jpg" alt="">
                </div>
            </div>
        </section>
        <!--================End Portfolio Area =================-->
