   
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Контакты</h2>
                    <p></p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Get in Touch Area =================-->
          {{> contacts}}
        <!--================End Get in Touch Area =================-->
        
        <!--================Map Area =================-->
        <!--
        <section class="contact_map_area">
            <div id="mapBox1" class="mapBox1 row m0" 
                data-lat="57.61703199999999" 
                data-lon="39.84987509999996" 
                data-zoom="15" 
                data-marker="" 
                data-info="Мы тут"
                data-mlat="57.61703199999999"
                data-mlon="39.84987509999996">
            </div>
            <div class="map_location_box">
                <div class="container">
                    <div class="map_l_box_inner">
                        {{> callout}}
                    </div>
                </div>
            </div>
        </section>
        -->
        <!--================End Map Area =================-->
        
        
        